{% extends 'blog/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}
<!-- HERO -->
    <div class="hero vh-100 d-flex align-items-center" id="landing">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 mx-auto text-center">
                    <h1 class="display-2 text-white">Welcome to Schedule Sensei</h1>
                    <p class="text-white my-3">Looking for a better way to organize your schedule?
                        Look no further! </p>
                    <a href="/sign_up" class="btn me-2 btn-primary">Get Started</a>
                    <a href="/home" class="btn btn-outline-light">Log In</a>
                </div>
            </div>
        </div>
    </div><!-- //HERO -->
{% endblock %}