{% extends 'blog/base.html' %}
{% block title %}Welcome{% endblock %}
{% block content %}

<section id="Data">
        <div class="container-fluid bg-white">
            <div class="row mb-5">
                <div class="col-md-8 mx-auto my-md-5 text-center">
                    <h6 class="text-primary">FIRST</h6>
                    <h1>Let's Get Started!</h1>
                    <p>Let's start by entering a class, a meeting, an appointment, or an event</p>
                </div>
            </div>

            <form action="" class="row g-3 justify-content-center">
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Event">
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" placeholder="Location">
                </div>
                <div class="dropdown col-md-5 mx-lg-0">
                  <button class="btn btn-outline-secondary dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Time
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
                </div>
                <div class="dropdown col-md-5 mx-lg-0">
                  <button class="btn btn-outline-secondary dropdown-toggle form-control" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Repeat
                  </button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Once</a></li>
                      <li><a class="dropdown-item" href="#">Sunday</a></li>
                    <li><a class="dropdown-item" href="#">Monday</a></li>
                    <li><a class="dropdown-item" href="#">Tuesday</a></li>
                    <li><a class="dropdown-item" href="#">Wednesday</a></li>
                    <li><a class="dropdown-item" href="#">Thursday</a></li>
                    <li><a class="dropdown-item" href="#">Friday</a></li>
                    <li><a class="dropdown-item" href="#">Saturday</a></li>
                    <li><a class="dropdown-item" href="#">MWF</a></li>
                    <li><a class="dropdown-item" href="#">TTR</a></li>
                  </ul>
                </div>
                <div class="col-md-10">
                    <input type="text" class="form-control" placeholder="Enter Subject">
                </div>
                <div class="col-md-10">
                    <textarea name="" id="" cols="30" rows="5" class="form-control"
                        placeholder="Notes"></textarea>
                </div>
                <div class="col-md-10 my-md-5 d-grid">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </form>

        </div>
    </section>

{% endblock %}